* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url(./data/heroBG.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-top: 80px;
}

/* Header Styles */
header {
    background-color: none;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.hamburger {
    display: none;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.logo {
    max-height: 50px;
    max-width: 150px;
}

.logo-text {
    color: white;
    font-size: 1.5rem;
    padding-top: 3px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-links a {
    color: #fff;
    font-size: 1.3rem;
    text-decoration: none;
    transition: all 0.15s ease-in;
}

.nav-links a:hover {
    font-size: 2rem;
    font-weight: 600;
    color: #1e1e1e;
}


/* Main Content Styles */
main {
    padding: 5rem;
    padding-bottom: 0;
    min-height: calc(100vh - 300px);
}

.hero {
    text-align: center;
    padding-top: 6rem;

}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #fff;
}

.hero p {
    color: #d5d5d5;
    margin-bottom: 2rem;
}

/* Calculator Styles */
.chatbot-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    background-color: #004f33;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
}

.calc-close-btn {
    position: fixed;
    display: none;
    bottom: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    background-color: #004f33;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
}

.calculator {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 20px;
    background: rgba(0, 0, 0, 0.4);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 20%;
    backdrop-filter: blur(5px);
}

#display {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    text-align: right;
    font-size: 18px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 10px;
}

.buttons button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    outline: 2px solid white;
    border: none;
    border-radius: 5px;
}

.buttons button:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: translateY(-2px);
}

.buttons .equals {
    grid-column: span 4; /* makes the equals button span across all columns */
    font-size: 2rem;
}


/* Form Styles */
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.temp {
    max-width: 1200px;
    margin: 0 auto;
}

.form-heading {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-right: 5rem;
}

.form-container {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 8px 0 4px;
    color: #ffffff;
    font-size: 13px;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"] {
    padding: 8px;
    margin-bottom: 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background: rgba(225, 225, 225, 0.1);
    color: #fff;
}

#age {
    max-width: 20%;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
    outline: none;
    background: rgba(225, 225, 225, 0.35);
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
}

/* Error message box styling */
.error-messages {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 250px;
    font-family: Arial, sans-serif;
    z-index: 1000;
}

.error-message {
    background-color: red;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    display: none;
}


/* Footer Styles */
footer {
    background-color: none;
    color: white;
    padding: 2rem;
    margin-top: auto;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
}

.button-filled {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 13px 23px;
    border: 0px;
    background: rgba(255, 255, 255, 0.5);
    color: #1e1e1e;
}

.button-outline {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 11px 21px;
    border: 2px solid #fff;
    background: none;
    color: #fff;
}

/* Responsive Design */
/* Tablets - 768px*/
@media (max-width: 1200px) {
    nav {
        padding: 0 20px;
    }

    .nav-links {
        gap: 1rem;
    }

    .hero {
        margin-top: 2rem;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    /* Calculator Styles */
    .calculator {
        max-width: 30%;
        bottom: 60px;
    }

    .buttons {
        grid-template-columns: repeat(4, 1fr); /* Maintain 4 columns */
    }

    .buttons button {
        font-size: 0.8rem;
        padding: 8px;
    }

    .buttons .equals {
        font-size: 1.5rem;
    }

    /* From Styles */
    .row {
        flex-direction: column;
    }

    .form-heading {
        margin-top: 0;
        justify-self: center;
    }

    .form-container {
        justify-self: center;
        min-width: 90%;
    }

    #age {
        max-width: 100%;
    }


    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}

/* Small devices 300px*/
@media (max-width: 700px) {
    .nav-links {
        display: none;
    }

    .hamburger {
        display: block;
        color: white;
        font-size: 1.5rem;
    }

    .hero {
        margin-top: 10rem;
    }

    main {
        padding: 2rem;
        margin: 0;
    }

    /* Calculator Styles  */
    .calculator {
        max-width: 50%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.5);
        max-height: fit-content;
    }

    .buttons {
        grid-template-columns: repeat(4, 1fr); /* Maintain 4 columns */
    }

    .buttons button {
        font-size: 12px; /* Further reduce button text size */
        padding: 6px;
    }

    .buttons .equals {
        font-size: 1.2rem; /* Further reduce font size for equals */
    }

    /* Form Style */
    .form-heading {
        margin-top: 0;
        justify-self: center;
    }

    .form-container {
        max-width: 90%;
        margin: 0;
    }

    .row {
        flex-direction: column;
    }

    #age {
        max-width: 100%;
    }

    /* Stack footer sections */
    .footer-section {
        flex: 100%;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .hero {
        padding: 2rem 0;
    }

    .hero h1 {
        font-size: 1.5rem;
    }

    .cta-button {
        width: 100%;
        text-align: center;
    }

    .footer-button {
        width: 100%;
        max-width: 300px;
    }
}
